<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 4 asignment</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <h2>{{header}}</h2>
    </header>
    <main>
      <section class="main">
        <form class="login" action="/signin" method="post">
          <h3>登入系統</h3>
          <div class="inputbox">
            <label for="username">帳號 </label>
            <input id="username" type="text" name="username" />
          </div>
          <div class="inputbox">
            <label for="password">密碼 </label>
            <input id="password" type="password" name="password" />
          </div>
          <div class="inputbox">
            <label for="agree">同意條款</label>
            <input type="checkbox" name="agree" id="agree" />
          </div>
          <button type="submit" id="submit">登入</button>
        </form>
      </section>
      <hr />
      <section class="square">
        <h3>計算正整數的平方</h3>
        <form action="" method="GET">
          <div>
            <label for="int">正整數</label>
            <input type="number" id="int" />
          </div>
          <button type="submit" id="caculate">計算</button>
        </form>
      </section>
    </main>
    <script>
      // login part
      let loginForm = document.querySelector(".login");
      let check = document.querySelector("input[type=checkbox]");
      loginForm.addEventListener("submit", (e) => {
        if (!check.checked) {
          e.preventDefault();
          alert("Please checkthe checkbox first");
        }
      });
      // square part
      let squareForm = document.querySelector(".square");
      squareForm.addEventListener("submit", (e) => {
        let number = document.querySelector("#int");

        if (number.value && number.value > 0) {
          e.preventDefault();
          number = document.querySelector("#int");
          document.location.href = "/square/" + number.value;
        } else {
          alert("Please input positive integer");
        }
      });
    </script>
  </body>
</html>
