<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 4 asignment</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <h2>{{header}}</h2>
    </header>
    <main>
      <section class="main">
        <p>{{message}}</p>
        <p><a href="{{signout_url}}">{{logout}}</a></p>
      </section>
    </main>
  </body>
</html>
